<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <table id="overview">
    <thead>
      <tr>
        <th>後勤名稱</th>
        <th>代號</th>
        <th>等級</th>
        <th>人數</th>
        <th>時間(分鐘)</th>
        <th>人力</th>
        <th>彈藥</th>
        <th>口糧</th>
        <th>零件</th>
        <th>人力</th>
        <th>彈藥</th>
        <th>口糧</th>
        <th>零件</th>
      </tr>
    </thead>
    <tbod>
      <tr v-for="row in rows">
        <td v-for="item in row">
          {{ item }}
        </td>
      </tr>
    </tbod>
  </table>
</body>
<script type="text/javascript" src="./js/index.js"></script>

</html>